
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background-color: #f1f2f7;
}

.nav-top {
    height: 70px;
    left: 0;
    border: none;
    border-radius: 0;
    top: 0;
    margin: 0px;
    padding: 0;
    position: fixed;
    z-index: 999;
    right: 0;
    background: linear-gradient(to right, #293541 , #425363);
    border-bottom: 10px solid #01a8d7;
}

.logo {
    font-size: 21px;
    float: left;
    height: 55px;
    width: 108px;
    margin-top: -15px;
}

.dropbtn {
    float: right;
}

.nav-side {
    width: 195px;
    height: 100%;
    position: fixed;
    border-radius: 0;
    float: left;
    margin-left: 0;
    margin-top:-5px;
    margin-bottom: 0;
    padding: 0;
    background-color: white;
}

.sideMenu {
    margin-top: 12px;
    text-align: left;
    align-content: left;
    margin-left: -10px;
}

.item {
    font-size: 13px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    margin-left: 0;
    transition: 0.3s;
    margin-right: 10px;
}

.sideBack {
    padding: 15px 0 15px 10px;
    color: rgb(41, 53, 65);
}


.icon {
    font-size: 15px;
    color: #293541;
}

.sideLetters {
    font-size: 13px;
    color: rgb(41, 53, 65);
}

.sideLetters:hover {
    color: white;
}

.sideAcc {
    padding: 6px 0 6px 0;
    list-style-type: none;
    transition: 0.3s;
    margin-left: 0px;
    text-align: left;
    margin-left: 25px;
    font-size: 12px;
}

.sideAcc:hover {
    color: white;
}

.sideBtn {
    border-radius: 5px;
}

.plusMinus {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 10px;
    color: white;
}

.highlight {
    background-color: #d6d8dae3;
    transition: 0.3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.sideBtn a{
    text-decoration: none;
}
.sideHighlight:hover, .accHighlight:hover, .sideBtn:hover {
    background-color: #d6d8dae3;
    transition: 0.3s;
}


.main {
    margin-top: 70px;
    height: 800px;
    margin-left: 195px;
}

.mainHeader {
    margin-top: 5px;
    z-index: 1;
    
    width: 100%;
}

.wrapper {
    padding-top: 10px;
    margin-right: 20px;
    margin-left: 50px;
}

.titleText {
    font-size: x-large;
    font-weight: 300;
    color: #262626;
}

.title {
    padding-bottom: 0;
}

.titleSymb {
    color: #ABE8C8;
    font-size: xx-large;
}

hr {
    border: 0.5px solid black;
    margin-top: 10px;
    padding-bottom: 0px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f9f9f9;
 }

 .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th, thead {
   background-color: white;;
 }

.reorder {
    width: 100%;
    margin-top: 3px;
    margin-left: 3px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
table {
    padding: 10px;
}

table thead > tr > th, 
.table tbody > tr > th
.table thead > tr > td, 
.table tbody > tr > td {
    padding: 10px;
}

.reorder th {
    font-weight: 400;
    color: #262626;
    font-size: medium;
}

.remove {
    background-color: #FF2300;
    color: white;
}

.remove:hover {
    background-color: rgba(255, 34, 0, 0.596);
    color: rgba(255, 255, 255, 0.849);
}

.edit:hover {
    background-color: #293541c4;
    color: rgba(255, 255, 255, 0.849);
}



.edit {
    background-color: #293541;
    color: white;
}

.edit:active, .edit:target, .remove:active, .remove:target {
    color: rgba(255, 255, 255, 0.849);
}

.map {
    color: coral;
}

.A {
    color: white;
    font-size: 22px;
}

.super {
    color: white;
    font-size: 14px;
}

.down {
    color: grey;
}

.A, .super, .map, .down, .dropbtn, .dropMenu {
    padding: 0;
}

.dropMenu {
    border: 0.5px solid white;
    height: 32px;
    width: 175px;
    background-color: transparent;
    margin-right: 3px;
    border-radius: 5px;
    margin-top: 15px;
}

.dropList {
    width: 235px;
    list-style: none;
    margin-right: 10px;
    height: auto;
    padding: 0;
    text-align: center;
    top: 70px;
}

.dropRow {
    padding: 15px;
    transition: 0.2s;
    background-color: white;
}

.dropRow:hover {
    list-style: none;
    cursor: pointer;
}

.dropRow:hover .blue {
    color: #01a8d7;
    background-color: transparent;
}

.up {
    float: right;
    margin-top: -32px;
    color: white;
    font-size: x-large;
    margin-right: 25px;

}

.dropIcon {
    font-size: medium;
}

.logout{
    background-color:#01a8d7;
    border-bottom-color: transparent;
    border-radius: 0 0 3px 3px;
}

.dropLink:hover {
    background-color: transparent;
    text-decoration: none;
}

.logout i, .logout p {
    color: white;
}




