body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 50;
    font-size: 13px;
    background-color: #f1f2f7;
}

.nav {
    overflow: hidden;
    background: linear-gradient(to right, #384653 , #475b6d);
    height: 55px;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 5px;
    border-bottom: 10px solid #01a8d7;
}

.logo {
    padding-top: 2px;
    padding-left: 15px;
    height: 55px;
    top: 0px;
    width: 110px;
}

.side {
    height:100%;
    width: 10%;
    position: fixed;
    top: 70px;
    background-color: white;
    float: left;
    z-index: 1;
    left:0;
    bottom:0;
    overflow: auto;
}

.back {
    width: 90%;
    height: 100%;
    float: right;
    z-index: 1;
    top: 70px;
    background-color: black;
}

.main {
    height: 100%;
    width: 83.75%;
    margin-left: 0px;
    float:right;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 15%;
    right: 0;
    bottom: 0;
}

container {
    padding: 10px 20px 10px 20px; 
}

.sidenav {
    text-align: left;
    left: 0;
    margin-top: 5px;
    z-index: 1;
    margin-left: 0;
    width: 100%;
    list-style-type: none;
    
}

.sidenav a {
    text-align: left;
    text-decoration: none;
    color: black;
}

.item {
    width: 175px;
    margin-left: -30px;
    font-size: 15px;
}

.item a {
    border: 10px;
    transition: 0.2s;
    margin-top: 6px;
    padding: 13px;
    color: rgb(41, 53, 65);
    display: block;
}

.item a:hover {
    display: block;
    border-color: rgba(156, 156, 156, 0.726); 
    border-radius: 5px; 
    transition: 0.2s;
    background-color: rgba(156, 156, 156, 0.726); 
}

.sideLetters {
    font-size: 13px;
    color: black;

}

.sideLetters:hover {
    color: white;
}

.item:hover .plus {
    color: rgb(216, 215, 215);
}

.item .plus {
    font-size: 13px;
    float: right;
    font-weight: 300;
    margin-top: 3px;
    color: transparent;
}

.reorder_table {
    border-radius : 5px;
    width:81.10%;
    padding: 15px;
    margin-top: 5px;
    background-color: white;
    position: fixed;
    border: 1px solid black;
    height: auto;
    padding-top: 10px;
}

table {
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    width: 100%;
    border-collapse: collapse;
}

.column {
    font-size: 15.5px;
    font-weight: 300;
}

.row {
    background-color: #f9f9f9;
}

th, td {
    border-top: 1px solid rgb(185, 184, 184);
    border-spacing: 0;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

td, th {
    text-align: left;
    glyph-orientation-horizontal: center;
}


.title {
    height: 30px;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 15px;
}

.reorder {
    font-size: 25px;
}
.symb {
    color: #ABE8C8;
}

.redbtn {
    background-color: red;
    height: 35px;
    width: 35px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    padding: 0;
    border: none;
}


.bluebtn {
    background-color: #293541;
    height: 35px;
    width: 37px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    padding: 0;
    border: none;
}

.drop {
    float:right;
    margin-top: 18px;
    height: 28px;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

.A {
    font-size: 25px;
    color: white;
    bottom: 1px;
}

.center {
    color: white;
    font-size: 15px;
    margin-top: 5px;
    letter-spacing: 1px;
}

.line {
    color: black;
    top: 80px;
}

.gps {
    color: coral;
}

.desc {
    color: grey;
}

.extend {
    padding: 13px;
    display: none;
    background-color: rgba(156, 156, 156, 0.726); 
    border-color: rgba(156, 156, 156, 0.726); 
}





