body {
    background-color: rgb(65, 65, 65);
}

.screen {
    height: 500px;
    width: 800px;
    background-color: rgb(65, 65, 65);
    box-shadow: 0 0 80px black;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    margin-left: -400px;
    margin-top: -250px;
}

img {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}


button {
    height: 50px;
    width: 100px;
}

.left {
    z-index: 1;
    background-color: transparent;
    position: absolute;
    border-color: transparent;
    top: 50%;
    width: 200px;
    float: left;
    height: 500px;
    margin-top: -250px;
    margin-left: 552px;
}

.pp {
    z-index: 2;
    background-color: transparent;
    height: 500px;
    margin-top: -250px;
    top: 50%;
    position: absolute;
    border-color: transparent;
    width: 400px;
    margin-left: 752px;
}

.play:hover, .pause:hover{
    background-color: rgba(0, 0, 0, 0.527);
    color: rgba(255, 255, 255, 0.664);
}

.right {
    z-index: 2;
    background-color: transparent;
    position: absolute;
    border-color: transparent;
    top: 50%;
    width: 200px;
    height: 500px;
    margin-left: 1152px;
    margin-top: -250px;

}

.chevron-right, .chevron-left{
    color: transparent;
}

.left:hover .chevron-left, .right:hover .chevron-right{
    color: rgba(255, 255, 255, 0.664);
}

.left:hover, .right:hover{
    background-color: rgba(0, 0, 0, 0.527);
}

.play, .pause {
    background-color: transparent;
    border-color: transparent;
    height: 50%;
    padding:0;
    width: 100%;
    float: top;
    float: left;
    color: transparent;
}